# Supabase Configuration
SUPABASE_PROJECT_REF=ubjvlwnzcyogxcwzdypd
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY # Must be your secret service_role key to access RLS-protected tables

# Firebase Configuration
# Script automatically reads service account credentials from ./firebase-credentials.json
